node_modules
src
dev
.vite
*.log
.DS_Store
coverage
*.tsbuildinfo
.next
.swc
.git
.gitignore
.husky
.eslintcache
vitest.config.ts
vite.config.ts
tsconfig.json
eslint.config.mjs
postcss.config.mjs
.prettierrc.json
.prettierignore
YOUBOT-CONTEXT.md

